---
# Keycloak Container Bootstrap
- name: Pull Keycloak container image
  ansible.builtin.command:
    cmd: ctr images pull quay.io/keycloak/keycloak:latest
  changed_when: false
  tags: [keycloak, sso, baseline]

- name: Run Keycloak container
  ansible.builtin.command:
    cmd: ctr run --detach --rm --name keycloak-server -p 8080:8080 quay.io/keycloak/keycloak:latest /opt/keycloak/bin/kc.sh start-dev
  changed_when: false
  tags: [keycloak, sso, baseline]

- name: Wait for Keycloak to be reachable
  ansible.builtin.wait_for:
    port: 8080
    host: localhost
    timeout: 120
  tags: [keycloak, sso, baseline]
