---
- name: Restart SSH
  ansible.builtin.service:
    name: "{{ 'ssh' if ansible_os_family == 'Debian' else 'sshd' }}"
    state: restarted

- name: Reload sysctl
  ansible.builtin.command:
    cmd: sysctl --system
  changed_when: true
